[parameters]
name=Phreeze PHP Application
description=A Full PHP Phreeze Application, Ready to Deploy

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
phreeze.php/_config.php.tpl	_config.php	1
phreeze.php/_config_overrides.php.tpl	_config_overrides.php	1
phreeze.php/_connection.php.tpl	_connection.php	1
phreeze.php/index.php.tpl	index.php	1
phreeze.php/rewrite.php.tpl	rewrite.php	1
phreeze.php/libs/Controller/DefaultController.php.tpl	libs/Controller/DefaultController.php	1
phreeze.php/libs/Controller/BaseController.php.tpl	libs/Controller/{$appname}BaseController.php	1
phreeze.php/libs/Controller/Controller.php.tpl	libs/Controller/{$singular}Controller.php	0
phreeze.php/libs/Model/Model.php.tpl	libs/Model/{$singular}.php	0
phreeze.php/libs/Model/Criteria.php.tpl	libs/Model/{$singular}Criteria.php	0
phreeze.php/libs/Model/DAO/ModelDAO.php.tpl	libs/Model/DAO/{$singular}DAO.php	0
phreeze.php/libs/Model/DAO/ModelCriteriaDAO.php.tpl	libs/Model/DAO/{$singular}CriteriaDAO.php	0
phreeze.php/libs/Model/DAO/ModelMap.php.tpl	libs/Model/DAO/{$singular}Map.php	0
phreeze.php/libs/Reporter/Reporter.php.tpl	libs/Reporter/{$singular}Reporter.php	0
phreeze.php/styles/style.css.tpl	styles/{$appname}.css	1
phreeze.php/scripts/feedback.js.tpl	scripts/feedback.js	1
phreeze.php/scripts/standard_form.js.tpl	scripts/standard_form.js	1
phreeze.php/scripts/standard_grid.js.tpl	scripts/standard_grid.js	1
phreeze.php/scripts/validate_model.js.tpl	scripts/validate_model.js	1
phreeze.php/temp/index.html.tpl	temp/index.html	1
phreeze.php/templates/_datepicker.tpl.tpl	templates/_datepicker.tpl	1
phreeze.php/templates/_error.tpl.tpl	templates/_error.tpl	1
phreeze.php/templates/_footer.tpl.tpl	templates/_footer.tpl	1
phreeze.php/templates/_header.tpl.tpl	templates/_header.tpl	1
phreeze.php/templates/ViewDefaultDefaultAction.tpl.tpl	templates/ViewDefaultDefaultAction.tpl	1
phreeze.php/templates/ViewEdit.tpl.tpl	templates/View{$singular}Edit.tpl	0
phreeze.php/templates/ViewListAll.tpl.tpl	templates/View{$singular}ListAll.tpl	0
phreeze.php/templates_c/index.html.tpl	templates_c/index.html	1