[parameters]
name=Phreeze.NET
description=Phreeze persistance classes in C#.NET

# files is a tab-delimited list. columns = souce_file, destination_file, is_single
# (if is_single = 1 then a single file will be generated, otherwise a file will be generated for each table)
[files]
source	destination	single
