form input
{
    padding:2px;
}

/* override ext */
.x-form-item div {clear: none; padding: 0px;}
.x-form-item div input {margin-left: -3px;} /* drop-downs align right in IE */
.x-combo-list {text-align: left;}

legend
{
	color: #317082;
	font-weight: bold;
}

fieldset
{
	clear: both;
	margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	border: solid 1px #8fb5b6;
}

fieldset div
{
	margin: 1px;
	clear: both;
}

fieldset table
{
	margin-top: 10px;
}

fieldset label
{
	width: 125px;
	float: left;
	padding: 2px 4px 2px 0px;
}

.readonly
{
	border: solid 1px #dddddd;
	color: #555555;
	padding: 3px;
	margin: 2px;
}

fieldset div.field
{
	padding-top: 5px;
}

fieldset input, fieldset select
{

}

fieldset textarea
{
	width: 505px;
	height: 130px;
}

.field_validator
{
	text-align: left;
	padding: 2px;
	color: red;
	font-weight: bold;
	display: none;
}

.form_validator
{
	text-align: left;
	padding: 2px;
	color: red;
	font-weight: bold;
	border: solid 1px #CC9999;
	background-color: #FFCCCC;
	display: none;
}

.xlong  {width: 500px;}
.long   {width: 350px;}
.medium {width: 200px;}
.small  {width: 100px;}
.tiny   {width: 50px;}
.xtiny   {width: 25px;}
